@using Base.Models
@using HrAdm.Services
@using Microsoft.AspNetCore.Antiforgery
@inject IHtmlLocalizer<HrAdm.R0> R0
@inject IAntiforgery Antiforgery

@{
    //網頁變數
    var libVer = _Xp.LibVer;
    var myVer = _Xp.MyVer;
    var min = _Fun.IsDev ? "" : ".min";   //min js
    var locale = _Locale.GetLocale();

    _Fun.Config.SystemName = R0["SystemName"].Value;

    var menus = SetMenuName(await _Auth.GetMenuA());  //by access right
    /*
    var menus = new List<MenuDto>()
        {
        new() { Name = R0["MenuLeave"].Value, Url = "/Leave/Read" },
        new() { Name = R0["MenuLeaveSign"].Value, Url = "/LeaveSign/Read" },
        new() { Name = R0["MenuXpFlow"].Value, Url = "/XpFlow/Read" },
        new() { Name = R0["MenuXpFlowSign"].Value, Url = "/XpFlowSign/Read" },
        new() { Name = R0["MenuXpUser"].Value, Url = "/User/Read" },
        new() { Name = R0["MenuXpRole"].Value, Url = "/XpRole/Read" },
        new() { Name = R0["MenuXpProg"].Value, Url = "/XpProg/Read" },
        new() { Name = R0["MenuUserExt"].Value, Url = "/UserExt/Read" },
        new() { Name = R0["MenuCustInput"].Value, Url = "/CustInput/Read" },
        new() { Name = R0["MenuUserImport"].Value, Url = "/UserImport/Read" },
        new() { Name = R0["MenuCmsMsg"].Value, Url = "/CmsMsg/Read" },
        new() { Name = R0["MenuXpEasyRpt"].Value, Url = "/XpEasyRpt/Read" },
        new() { Name = R0["MenuTranLog"].Value, Url = "/XpTranLog/Read" },
    };
    */
}

@functions {
    //re-set menu.Name(add locale)
    public List<MenuDto> SetMenuName(List<MenuDto> menus)
    {
        foreach(var menu in menus)
            menu.Name = R0["Menu" + menu.Code].Value;
        return menus;
    }
}

<style nonce="@_Fun.Nonce">
    .xu-logo {
        height: 36px;
        width: auto;
        padding-right: 6px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@_Fun.Config.SystemName</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 防止 CSRF  -->
    <meta name="csrf-token" content="@(Antiforgery.GetAndStoreTokens(Context).RequestToken)" />

    <!-- 1.load css -->
    <link rel="stylesheet" href="~/css/lib@(min).css?v=@libVer" />
    @RenderSection("styles", required: false)

    <!-- 2.load lib js -->
    <script nonce="@_Fun.Nonce" src="~/js/lib@(min).js?v=@libVer"></script>
    <script nonce="@_Fun.Nonce" src="~/js/summernote-bs5.min-bruce.js?v=@libVer"></script>

    <!-- 3.load my site js(debug/production mode) !! -->
    <environment include="Production">
        <link rel="stylesheet" href="~/css/my@(min).css?v=@myVer" />
        <script nonce="@_Fun.Nonce" src="~/js/my@(min).js?v=@myVer"></script>
    </environment>
    <environment include="Development">
        <!-- tail ver will load failed !! -->
        <link rel="stylesheet" asp-href-include="~/css/icomoon.css" />
        <link rel="stylesheet" asp-href-include="~/css/base/*.css" />
        <link rel="stylesheet" asp-href-include="~/css/view/_xgBlue.css" />
        <script nonce="@_Fun.Nonce" asp-src-include="~/js/base/*.js"></script>
        <script nonce="@_Fun.Nonce" asp-src-include="~/js/view/_*.js"></script>
    </environment>

    <!-- 4.load local js -->
    <script nonce="@_Fun.Nonce" src="~/js/@(locale+min).js?v=@myVer"></script>

    @RenderSection("scripts", required: false)

    <!-- 5.initial -->
    <script nonce="@_Fun.Nonce">
        $(function () {
            _fun.init('@locale');
            _fun.pageRows = 20;
            _fun.userId = '@_Fun.UserId()';
        });
    </script>
</head>

<!-- 6.show view -->
<body class="x-main">
    <!-- Top -->
    <nav class="navbar navbar-expand navbar-dark x-main-top">
        <a class="sidebar-toggle me-3 cursor-pointer" data-onclick="_leftmenu.onToggleMenu">
            <i class="ico-menu"></i>
        </a>

        <!-- Logo 
        <img src="/image/logo.png" class="xu-logo">        
        -->

        <a class="navbar-brand" href="#">@_Fun.Config.SystemName</a>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav ml-auto">
                @*
                <li>
                @Html.XiSelect("_Locale", _Session.Locale, locales, prop: new PropSelectDto() { AddEmptyRow = false, FnOnChange = "_xp.onChangeLocale" })
                </li>
                *@

                <li>
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="ico-home"></i>
                    </a>
                </li>
                <li>
                    @_Fun.GetBaseUser().UserName
                </li>
                <li>
                    <a class="nav-link" title="Logout" href="@Url.Action("Logout", "Home")">
                        <i class="ico-exit"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="x-main-down">
        <!-- left menu -->
        @await Component.InvokeAsync("XgLeftMenu", new { rows = menus })

        <!-- work area -->
        <div class="x-main-right">
            @RenderBody()
        </div>
    </div>

    <!-- tool component -->
    <vc:xg-tool/>
</body>
</html>