@inject IHtmlLocalizer<HrAdm.R0> R0
@inject IViewLocalizer R

<script nonce="@_Fun.Nonce" src="~/js/view/XpTranLog.js"></script>
<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <div id="divRead">
        <form id='formRead' class='x-form mb-2'>
            <div class="row">
                @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["TableName"].Value, Fid = "TableName", InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true })
            </div>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ColName"].Value, Fid = "ColName" })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["RowId"].Value, Fid = "RowId" })
        </form>

        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th>@R["TableName"]</th>
                    <th>@R["ColName"]</th>
                    <th>@R["RowId"]</th>
                    <th>@R["CrudOp"]</th>
                    <th>@R["OldValue"]</th>
                    <th>@R["NewValue"]</th>
                    <th>@R0["Created"]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>