@inject IHtmlLocalizer<HrAdm.R0> R0
@inject IViewLocalizer R

<script src="~/js/view/XpTranLog.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { R0["MenuXpTranLog"].Value } })
<div class="xp-prog">
    <div id="divRead">
        <form id='formRead' class='xg-form' style="margin-bottom:10px;">
            <div class="row">
                @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["TableName"].Value, Fid = "TableName", InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true })
            </div>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ColName"].Value, Fid = "ColName" })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["RowId"].Value, Fid = "RowId" })
        </form>

        <table id="tableRead" class="table xg-table" cellspacing="0">
            <thead>
                <tr>
                    <th>@R["TableName"]</th>
                    <th>@R["ColName"]</th>
                    <th>@R["RowId"]</th>
                    <th>@R["CrudOp"]</th>
                    <th>@R["OldValue"]</th>
                    <th>@R["NewValue"]</th>
                    <th>@R0["Created"]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>